@plugin "daisyui";
@import "tailwindcss";


body {
    
    background: #1f2937; 
    
    
    color: #ffffff; 
    min-height: 100vh;
} 


.my-btn{
   
    @apply btn w-full bg-[#FF6347]
    text-white font-semibold border-none hover:bg-[#E5533D] hover:scale-105 transition-transform duration-200
}